@{
    ViewBag.Title = "Consent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DotAuth.ViewModels.ConsentViewModel

@{
    var accessToCode = "Application would like to";
    var accessToValue = string.Format(accessToCode, Model.ClientDisplayName);
}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card horizontal hide-on-small-only">
            <div class="card-image valign-wrapper center" style="padding:20px">
                @if (string.IsNullOrWhiteSpace(Model.LogoUri))
                {
                    <img src="@Url.Content("~/img/oauth2.png")" alt="logo" width="250" height="250" />
                }
                else
                {
                    <img src="@Url.Content(Model.LogoUri)" alt="logo" width="250" height="250" />
                }
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">
                        @accessToValue
                    </span>
                    <div class="row">
                        @if (Model.AllowedScopeDescriptions.Any())
                        {
                            <div class="col s12">
                                <ul class="collection  with-header">
                                    <li class="collection-header"><h5>Scopes</h5></li>
                                    @foreach (var scope in Model.AllowedScopeDescriptions)
                                    {
                                        <li class="collection-item">@scope</li>
                                    }
                                </ul>
                            </div>
                        }

                        @if (Model.AllowedIndividualClaims.Any())
                        {
                            <div class="col s12">
                                <ul class="collection with-header">
                                    <li class="collection-header"><h5>Individual claims</h5></li>
                                    @foreach (var claim in Model.AllowedIndividualClaims)
                                    {
                                        <li class="collection-item">
                                            @claim
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.PolicyUri) ||
                         !string.IsNullOrWhiteSpace(Model.TosUri))
                        {
                            <div class="col s12">
                                @if (!string.IsNullOrWhiteSpace(Model.PolicyUri))
                                {
                                    <a href="@Model.PolicyUri" target="_blank">Policy</a> <span>&nbsp;</span>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.TosUri))
                                {
                                    <a href="@Model.TosUri" target="_blank">Terms of Service</a>
                                }
                            </div>
                        }
                    <div class="col s12">
                        @using (Html.BeginForm("Cancel", "Consent", new { code = Model.Code }, FormMethod.Post, true, new { style="display:inline;"}))
                        {
                            <button type="submit" class="waves-effect waves-light btn blue darken-3" id="cancel" name="cancel" title="Cancel consent">Cancel</button>
                        }
                        @using (Html.BeginForm("Confirm", "Consent", new { code = Model.Code }, FormMethod.Post, true, new { style="display:inline;"}))
                        {
                            <button type="submit" class="waves-effect waves-light btn blue darken-3" id="confirm" name="confirm" title="Confirm consent">Confirm</button>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card hide-on-med-and-up">
            <div class="card-image valign-wrapper center-align">
                @if (string.IsNullOrWhiteSpace(Model.LogoUri))
                {
                    <img src="@Url.Content("~/img/oauth2.png")" alt="logo" class="center-align" style="width:50%; margin: 24px auto 0;" />
                }
                else
                {
                    <img src="@Url.Content(Model.LogoUri)" alt="logo" class="center-align" style="width:30%; margin: 24px auto 0;" />
                }
            </div>
            <div class="card-content">
                <span class="card-title">
                    @accessToValue
                </span>
                <div class="row">
                    @if (Model.AllowedScopeDescriptions.Any())
                    {
                        <div class="col s12">
                            <ul class="collection  with-header">
                                <li class="collection-header"><strong>Scopes</strong></li>
                                @foreach (var scope in Model.AllowedScopeDescriptions)
                                {
                                    <li class="collection-item">@scope</li>
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.AllowedIndividualClaims.Any())
                    {
                        <div class="col s12">
                            <ul class="collection  with-header">
                                <li class="collection-header"><strong>Individual claims</strong></li>
                                @foreach (var claim in Model.AllowedIndividualClaims)
                                {
                                    <li class="collection-item">@claim</li>
                                }
                            </ul>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.PolicyUri) ||
                     !string.IsNullOrWhiteSpace(Model.TosUri))
                    {
                        <div class="col s12">
                            @if (!string.IsNullOrWhiteSpace(Model.PolicyUri))
                            {
                                <a href="@Model.PolicyUri" target="_blank">Policy &nbsp;</a>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.TosUri))
                            {
                                <a href="@Model.TosUri" target="_blank">Terms of Service</a>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Cancel", new { code = Model.Code })" class="waves-effect waves-light btn blue darken-3">Cancel</a>
                <a href="@Url.Action("Confirm", new { code = Model.Code })" class="waves-effect waves-light btn blue darken-3">Confirm</a>
            </div>
        </div>
    </div>
</div>