@{
    ViewBag.Title = SimpleAuth.Extensions.Globals.ApplicationName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h1>@ViewBag.Title</h1>
                <div class="m12">
                    @ViewBag.Title is an open source OpenId Connect, OAuth 2.0 and UMA 2.0 server.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img alt="Manage Permission Requests" src="~/img/manage_permissions.png" />
            </div>
            <div class="card-action center">
                <a href="@Url.Content("~/perm")" class="btn blue darken-3 waves-effect waves-light">Manage Permission Requests</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img alt="Manage UMA Resources" src="~/img/manage_resources.png" />
            </div>
            <div class="card-action center">
                @Html.ActionLink("Manage UMA Resources", "GetResourceSets", "ResourceSet", new { ui = "1" }, new { @class = "btn blue darken-3 waves-effect waves-light" })
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img alt="Manage Consents" src="~/img/manage_consent.png" />
            </div>
            <div class="card-action center">
                @Html.ActionLink("Manage Consents", "Consent", "User", null, new { @class = "btn blue darken-3 waves-effect waves-light" })
            </div>
        </div>
    </div>
</div>
