@using SimpleAuth.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/img/favicon/favicon.ico")">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/materialize.min.css")" media="screen,projection" />
    <link rel="stylesheet" href="@Url.Content("~/css/materialize.custom.css")" media="screen,projection" />
</head>
<body>
    <!-- Top Navigation Bar -->
    <nav class="white">
        <div class="nav-wrapper">
            <a href="@Url.Content("~/")" class="brand-logo"><img src="@Url.Content("~/img/icon.png")" alt="icon" class="hide-on-small-only" />@Globals.ApplicationName</a>
            @if (ViewBag.IsAuthenticated == true)
            {
                <ul id="nav-mobile" class="right">
                    <li>
                        <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                            <i class="material-icons grey-text">account_circle</i>
                        </a>
                    </li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="@Url.Content("~/Authenticate/Logout")">Log Out</a></li>
                    </ul>
                </ul>
            }
        </div>
    </nav>

    @if (ViewBag.IsAuthenticated == true)
    {
        <script type="text/javascript" src="@Url.Content("~/js/jquery.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/materialize.min.js")"></script>
    }
    <div class="container">
        <div class="section">
            @RenderSection("PageTitle", false)
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    @if (ViewBag.IsAuthenticated == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {
                    $('.dropdown-trigger').dropdown({ alignment: 'right' });
                });
            });
        </script>
    }
</body>
</html>