@model SimpleAuth.Shared.Models.Scope
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{

    <script type="text/javascript">
        let claimCount = @Model.Claims.Length;

        function deleteClaim(claim) {
            const claimElm = document.getElementById(`claim${claim}`);
            claimElm.style.display = 'none';
            const inputElms = claimElm.getElementsByTagName('input');
            console.log(inputElms);
            for (let i = 0; i < inputElms.length; i++) {
                inputElms[i].value = '';
            }
        }

        function addClaim() {
            const claim = claimCount;
            claimCount++;
            const container = document.getElementById('claims');
            const html = `<div id="claim${claim}">
<div class="input-field col s5">
<label for="Claims_${claim}__Type" class="active">Type</label>
<input type="text" id="Claims_${claim}__Type" name="Claims[${claim}].Type" value="">
</div>
<div class="input-field col s5">
    <label for="Claims_${claim}__Value" class="active">Value</label>
    <input type="text" id="Claims_${claim}__Value" name="Claims[${claim}].Value" value="">
</div>
<div class="input-field col s2">
    <i class="material-icons prefix right-align hand" onclick="deleteClaim(${claim});">delete_forever</i>
</div>
</div>`;
            container.insertAdjacentHTML('beforeend', html);
        }
    </script>
}
<div class="row">
    <div class="col s12">
        <div class="card">
            @using (Html.BeginForm("Update", "Scopes", new { name = Model.Name }, method: FormMethod.Post, antiforgery: true, new { }))
            {
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h2>@Model.Name</h2>
                        </div>
                        <div class="input-field col s12">
                            <label asp-for="@Model.Name"></label>
                            <input disabled asp-for="@Model.Name" />
                        </div>
                        <div class="input-field col s12">
                            <label asp-for="@Model.Description"></label>
                            <input asp-for="@Model.Description" />
                        </div>
                        <div class="input-field col s12">
                            <label asp-for="@Model.IconUri"></label>
                            <input asp-for="@Model.IconUri" />
                        </div>
                        <div class="col s12 m6">
                            <label>
                                <input type="checkbox" asp-for="@Model.IsDisplayedInConsent" class="filled-in blue-text text-darken-3" />
                                <span asp-for="@Model.IsDisplayedInConsent">Is Displayed In Consent</span>
                            </label>
                        </div>
                        <div class="col s12 m6">
                            <label>
                                <input type="checkbox" asp-for="@Model.IsExposed" class="filled-in blue-text text-darken-3" />
                                <span asp-for="@Model.IsExposed">Is Exposed</span>
                            </label>
                        </div>
                        <div id="claims">
                            @for (var i = 0; i < Model.Claims.Length; i++)
                            {
                                <div id="@string.Concat("claim", @i)">
                                    <div class="input-field col s10">
                                        <label asp-for="@Model.Claims[i]"></label>
                                        <input asp-for="@Model.Claims[i]" />
                                    </div>
                                    <div class="input-field col s2">
                                        <i class="material-icons prefix right-align hand" onclick="deleteClaim(@i);">delete_forever</i>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="waves-effect waves-light btn blue darken-3 right">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>